

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Minecub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Staff</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acerca de nosotros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>


  <style>
		
    .centrado{text-align:center;border:1px }
</style>


    
  <h1 class="centrado">Bienvenido a la pagina oficial de minecub</h1>


<div class="row">
    <div class="col-md-6">
  <h2>Seccion de noticias</h2>

</div>
</div>

<p></p>


<div class="row">
<div class="col-md-6">
  <h4>Todo lo que trajo la nueva actualizacion</h4>
  <p>Hola comunidad de MineCub antes de comenzar de parte de todo el Staff les deseamos un año lleno de éxitos y logros.

    Para nosotros es grato informarles sobre todo lo nuevo que le traemos con esta actualización de inicio de año,
    seguidamente detallaremos todos los cambios hechos! 
    Sin más preámbulos comenzamos !
</p>

    
  
</div>
</div>

<div class="row">

    <div class="col-md-6">

<p>El 2020 fue un año de muchas enseñanzas, gracias a todas las sugerencias que cada uno de ustedes nos hizo llegar, 
    en esta primera actualización del 2021 hemos implementado algunas de ellas:</p>
    </div>
</div>


<div class="row">

    <div class="col-md-6 offset-md-2"><img  src="https://i.imgur.com/MKWP8FE.png" class="img-fluid" width="1000"  alt="Responsive image"
       height="200"></div>
   
       </div>
   

<div class="row">

    <div class="col-md-12">
      <h4>Balanceo de equipos</h4>
 <p>A lo largo del tiempo habíamos visto cierto error en el balance de nuestras 
 salas entre usuarios y jugadores VIP, por esto mismo hemos diseñado un sistema totalmente nuevo. 
 Este nuevo sistema permitirá que todos los equipos se encuentren balanceados, generando así un mejor equilibrio y jugabilidad. 
 </p>
</div>
</div>

<div class="row">

    <div class="col-md-12">
      <h4>¿Cómo funciona?</h4>
 <p>A partir de la versión 3.3 el sistema toma en cuenta a usuarios 
     y jugadores VIP balanceando de una mejor manera los cuatro equipos. 
 </p>
 <h4>¿Los VIP perdemos nuestro beneficio?</h4>
 <p>
    NO!! El nuevo sistema contempla el beneficio de los VIP creando ranuras dinámicas especiales para los jugadores con membresía. 
 </p>

</div>
</div>

<p></p>

<h3>¿Quieres ser parte de nosotros? puedes llenar el siguiente formulario</h3>
<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Correo Electronico</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="inputAddress" >
    </div>
    
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
   
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Verificacion
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>





